Repository softeerbootcamp-2nd/H2-O, pull requests merged in 2023-08, with the labels that each got.

#28 feature: frontend setting
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.husky/pre-commit
  frontend/.lintstagedrc.json
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
  frontend/README.md
  frontend/index.html
  frontend/package.json
  frontend/public/fonts/HyundaiSansHead-Bold.woff2
  frontend/public/fonts/HyundaiSansHead-Medium.woff2
  frontend/public/fonts/HyundaiSansHeadKRBold.woff2
  frontend/public/fonts/HyundaiSansHeadKRMedium.woff2
  frontend/public/fonts/HyundaiSansHeadKRRegular.woff2
  frontend/public/fonts/HyundaiSansText-Medium.woff2
  frontend/public/fonts/HyundaiSansTextKRBold.woff2
  frontend/public/fonts/HyundaiSansTextKRMedium.woff2
  frontend/public/fonts/HyundaiSansTextKRRegular.woff2
  frontend/public/logo/logo.svg
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/icons/arrow-back.svg
  frontend/src/assets/icons/arrow-down.svg
  frontend/src/assets/icons/arrow-right.svg
  frontend/src/assets/icons/cancel.svg
  frontend/src/assets/icons/carbon-search.svg
  frontend/src/assets/icons/check.svg
  frontend/src/assets/icons/index.ts
  frontend/src/assets/icons/info-outline.svg
  frontend/src/assets/icons/link.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Icon/index.ts
  frontend/src/components/common/index.ts
  frontend/src/custom.d.ts
  frontend/src/hooks/.gitkeep
  frontend/src/main.tsx
  frontend/src/providers/StyleProvider.tsx
  frontend/src/providers/index.ts
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/styles/colors.ts
  frontend/src/styles/common.ts
  frontend/src/styles/theme.ts
  frontend/src/styles/typography.ts
  frontend/src/types/emotion.d.ts
  frontend/src/utils/.gitkeep
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: :star2: feature, :strawberry: frontend

#39 feature: header component 구현
  frontend/src/App.tsx
  frontend/src/assets/logo/logo.svg
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Header/NavBar.tsx
  frontend/src/components/common/Header/Tab.tsx
  frontend/src/components/common/Header/index.ts
  frontend/src/components/common/index.ts
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/styles/common.ts
  frontend/src/styles/theme.ts
Labels: :star2: feature, :strawberry: frontend

#40 feature: backend setting
  .github/ISSUE_TEMPLATE/new-feature.md
  .idea/H2-O.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  backend/.gitignore
  backend/HELP.md
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/h2o/h2oServer/H2oServerApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/h2o/h2oServer/H2oServerApplicationTests.java
Labels: :star2: feature, :leaves: backend

#38 Feature/OS/#19 bottom bar component
  .github/ISSUE_TEMPLATE/new-feature.md
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Component/BottomButton/CLButton.swift
  iOS/Catalog/Catalog/Component/BottomButton/CLDualChoiceButton.swift
  iOS/Catalog/Catalog/Component/BottomButton/TwoottomButtonView.swift
  iOS/Catalog/Catalog/ContentView.swift
Labels: :star2: feature, :green_apple: iOS

#44 feature: ios/#16 navigation
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets/Mock/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/complete.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/complete.imageset/스크린샷 2023-08-03 오후 4.09.34.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/external.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/external.imageset/스크린샷 2023-08-03 오후 4.08.47.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/internal.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/internal.imageset/스크린샷 2023-08-03 오후 4.08.57.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/modelType.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/modelType.imageset/스크린샷 2023-08-03 오후 4.08.35.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/option.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/option.imageset/스크린샷 2023-08-03 오후 4.09.12.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/trim.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/trim.imageset/스크린샷 2023-08-03 오후 4.08.17.png
  iOS/Catalog/Catalog/CLNavigation/CLNavigationIndent.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationMenuTitleView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationMenuView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationModel.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/CLNavigation/CLTopNaviBar.swift
  iOS/Catalog/Catalog/CLNavigation/MockView.swift
  iOS/Catalog/Catalog/CatalogApp.swift
Labels: :star2: feature, :green_apple: iOS

#53 feature/#45/backend cicd 구현
  .github/workflows/backend-cd.yml
  .github/workflows/backend-ci.yml
  .gitignore
  .idea/H2-O.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  backend/.gitignore
  backend/Dockerfile
  backend/build.gradle
  backend/deployScripts/appspec.yml
  backend/deployScripts/release-backend.sh
  backend/gradlew.bat
  backend/src/test/java/com/h2o/h2oServer/H2oServerApplicationTests.java
  iOS/.gitkeep
Labels: :package: ci/cd, :leaves: backend

#57 feature: 팝업 컴포넌트 구현
  frontend/src/components/common/Button/CTAButton.tsx
  frontend/src/components/common/Button/CTACTypeButton.tsx
  frontend/src/components/common/Button/index.ts
  frontend/src/components/common/Dimmed/Dimmed.tsx
  frontend/src/components/common/Popup/Popup.tsx
  frontend/src/components/common/Popup/index.ts
  frontend/src/components/common/index.ts
  frontend/src/styles/common.ts
Labels: :star2: feature, :strawberry: frontend

#63 feature/#61/mysql 서버 연결
  .github/workflows/backend-cd.yml
  backend/Dockerfile
  backend/build.gradle
  backend/src/main/java/com/h2o/h2oServer/H2oServerApplication.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: :package: ci/cd, :star2: feature, :leaves: backend

#60 feature: 견적 요약 팝업 구현
  frontend/src/assets/car-images/exterior.png
  frontend/src/assets/car-images/interior.png
  frontend/src/components/common/Popup/SummaryPopup.tsx
  frontend/src/components/common/Popup/index.ts
  frontend/src/components/common/Toggle/Toggle.tsx
  frontend/src/components/common/Toggle/index.ts
  frontend/src/components/common/index.ts
  frontend/src/styles/colors.ts
Labels: :star2: feature, :strawberry: frontend

#88 feature/#58/프로젝트 패키지 구조 설계
  backend/src/main/java/com/h2o/h2oServer/domain/car/api/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/car/application/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/car/domain/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/car/dto/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/api/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/application/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/domain/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/dto/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dao/TrimDao.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/global/config/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/global/config/DataSourceConfiguration.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/global/util/.gitkeep
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/mapper/modelType/.gitkeep
  backend/src/main/resources/static/mapper/trim/.gitkeep
  backend/src/test/java/com/h2o/h2oServer/H2oServerApplicationTests.java
Labels: :star2: feature, :leaves: backend

#71 feature: guide view 구현
  frontend/src/components/common/Dimmed/Dimmed.tsx
  frontend/src/components/trim/GuidePopup.tsx
  frontend/src/components/trim/PracticalInfo.tsx
  frontend/src/components/trim/index.ts
  frontend/src/hooks/useToggle.ts
  frontend/src/pages/TrimPage.tsx
  frontend/src/styles/colors.ts
  frontend/src/types/index.ts
  frontend/src/utils/localStorage.ts
Labels: :star2: feature, :strawberry: frontend

#95 Feature/#73/edit ddl
  backend/src/main/resources/erd_DDL.sql
  backend/src/test/java/resources/application.yml
  backend/src/test/java/resources/data.sql
  backend/src/test/java/resources/schema.sql
Labels: :toolbox: refactor, :leaves: backend, 📂 database

#94 feature: model page 구현
  frontend/public/images/disel.png
  frontend/src/components/carousel/PageCarousel.tsx
  frontend/src/components/common/Banner/Banner.tsx
  frontend/src/components/common/Divider/Divider.tsx
  frontend/src/components/common/Divider/index.ts
  frontend/src/components/common/Flex/Flex.tsx
  frontend/src/components/common/Flex/index.ts
  frontend/src/components/common/Footer/Footer.tsx
  frontend/src/components/common/Footer/index.ts
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.tsx
  frontend/src/components/common/Typography/Typography.tsx
  frontend/src/components/common/Typography/index.ts
  frontend/src/components/common/index.ts
  frontend/src/components/model/BottomHMGData.tsx
  frontend/src/components/model/ModelOptionDetail.tsx
  frontend/src/components/model/ModelTypeCard.tsx
  frontend/src/components/model/ModelTypeOptionList.tsx
  frontend/src/components/model/ModelTypeSelector.tsx
  frontend/src/components/model/index.ts
  frontend/src/components/model/utils/calculateRatios.ts
  frontend/src/components/model/utils/getFractionString.ts
  frontend/src/components/model/utils/index.ts
  frontend/src/components/trim/TrimSelector.tsx
  frontend/src/pages/ModelPage.tsx
  frontend/src/pages/Pages.tsx
  frontend/src/styles/typography.ts
  frontend/src/types/boxStyle.ts
  frontend/src/types/flexStyle.ts
  frontend/src/types/interface.ts
  frontend/src/utils/sessionStorage.ts
  frontend/src/utils/string.ts
Labels: :star2: feature, :strawberry: frontend

#87 feature: CLAlertView 구현
  iOS/Catalog/.swiftlint.auto.yml
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets/Mock/complete.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/complete.imageset/complete.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/external.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/external.imageset/external.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/internal.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/internal.imageset/internal.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/modelType.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/modelType.imageset/modelType.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/option.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/option.imageset/option.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/trim.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/trim.imageset/trim.png
  iOS/Catalog/Catalog/CLNavigation/CLNavigationIntent.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationMenuTitleView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationMenuView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationModel.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/CLNavigation/CLTopNaviBar.swift
  iOS/Catalog/Catalog/CLNavigation/MockView.swift
  iOS/Catalog/Catalog/CatalogApp.swift
  iOS/Catalog/Catalog/Component/Alert/AlertView.swift
  iOS/Catalog/Catalog/Component/Alert/AlertViewComponent.swift
  iOS/Catalog/Catalog/Component/Alert/CLAlertView.swift
  iOS/Catalog/Catalog/Component/Alert/CLOptionQuitAlertContentView.swift
  iOS/Catalog/Catalog/Component/Alert/CLOptionSelectAlertContentView.swift
  iOS/Catalog/Catalog/Component/Alert/CLQuitAlertContentView.swift
  iOS/Catalog/Catalog/Component/Alert/CLSingleLineAlertContentView.swift
  iOS/Catalog/Catalog/Component/BottomButton/CLButton.swift
  iOS/Catalog/Catalog/Component/BottomButton/CLDualChoiceButton.swift
  iOS/Catalog/Catalog/ContentView.swift
  iOS/Catalog/Catalog/Font/Font+.swift
Labels: :star2: feature, :green_apple: iOS

#96 feature: 내부색상 선택 페이지 뷰 구현
  frontend/.eslintrc.cjs
  frontend/public/images/interior-black.png
  frontend/public/images/interior-option.png
  frontend/src/assets/icons/arrow-left.svg
  frontend/src/assets/icons/index.ts
  frontend/src/components/common/Card/Card.tsx
  frontend/src/components/interior/InteriorCard.tsx
  frontend/src/components/interior/InteriorSelector.tsx
  frontend/src/components/interior/index.ts
  frontend/src/components/model/ModelTypeCard.tsx
  frontend/src/components/trim/TrimCard.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/pages/InteriorPage.tsx
  frontend/src/pages/ModelPage.tsx
  frontend/src/pages/Pages.tsx
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/types/interface.ts
  frontend/src/utils/string.ts
Labels: :star2: feature, :strawberry: frontend

#99 fix: FK 제약조건이 없는 DDL에 대한 수정
  backend/src/test/java/resources/schema.sql
  backend/src/test/resources/schema.sql
Labels: :bug: bug, :leaves: backend, 📂 database

#100 Feature/데이터베이스 테스트 환경 설정
  backend/build.gradle
  backend/src/main/java/com/h2o/h2oServer/global/config/DataSourceConfiguration.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/schema-ddl.sql
  backend/src/main/resources/db/trims-data.sql
  backend/src/test/resources/application.yml
  backend/src/test/resources/db/schema-ddl.sql
  backend/src/test/resources/db/trims-data.sql
Labels: :leaves: backend, 📂 database

#101 Feature/#72/트림 레포지토리 계층 기능 구현
  backend/src/main/java/com/h2o/h2oServer/domain/trim/TrimEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/mapper/.gitkeep
Labels: :star2: feature, :leaves: backend

#109 feature: 외장 색상 페이지 컴포넌트 추가
  frontend/src/components/common/Banner/Banner.tsx
  frontend/src/components/common/MainSelector/MainSelector.tsx
  frontend/src/components/exterior/ExteriorCarImg.tsx
  frontend/src/components/exterior/ExteriorSelector.tsx
  frontend/src/components/exterior/hooks/useRotate.ts
  frontend/src/pages/ExteriorPage.tsx
  frontend/src/pages/Pages.tsx
Labels: :star2: feature, :strawberry: frontend

#113 Feature/#72/Trim 정보 조회 API 구현
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/ImageDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/OptionStatisticsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/TrimDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/ImageEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/OptionStatisticsEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/TrimEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/trims-data.sql
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
Labels: :star2: feature, :leaves: backend

#114 feature: 결과 페이지 뷰 구현
  frontend/public/images/result-external.png
  frontend/src/components/carousel/PageCarousel.tsx
  frontend/src/components/common/Button/CTAButton.tsx
  frontend/src/components/common/Toggle/Toggle.tsx
  frontend/src/components/result/DetailEstimate.tsx
  frontend/src/components/result/EstimateAccordian.tsx
  frontend/src/components/result/ResultBanner.tsx
  frontend/src/components/result/ResultFooter.tsx
  frontend/src/components/result/index.ts
  frontend/src/pages/Pages.tsx
  frontend/src/pages/ResultPage.tsx
  frontend/src/styles/typography.ts
Labels: :star2: feature, :strawberry: frontend

#118 hotfix: dockerfile 매개변수를 받지 않는 오류 수정
  backend/Dockerfile
Labels: :bug: bug, :package: ci/cd, :leaves: backend

#111 feat: 테스트를 위해 모든 테이블의 제약 조건 제거
  backend/src/test/resources/db/schema-ddl.sql
Labels: :leaves: backend, 📂 database

#117 feature: Network Service 구현, TrimSelection Network Mocking
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLBudgetSetting/CLPrice.swift
  iOS/Catalog/Catalog/Model/CLColor.swift
  iOS/Catalog/Catalog/Model/CLImage.swift
  iOS/Catalog/Catalog/Model/CLOption.swift
  iOS/Catalog/Catalog/Model/Trim.swift
  iOS/Catalog/Catalog/NetworkCore/APIManagerProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/CLNetworkError.swift
  iOS/Catalog/Catalog/NetworkCore/CachedResponseHandler.swift
  iOS/Catalog/Catalog/NetworkCore/DataParser.swift
  iOS/Catalog/Catalog/NetworkCore/Mock/JSONLoader.swift
  iOS/Catalog/Catalog/NetworkCore/Mock/MockAPIManager.swift
  iOS/Catalog/Catalog/NetworkCore/Mock/MockURLProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/Request/ContentType.swift
  iOS/Catalog/Catalog/NetworkCore/Request/Request.swift
  iOS/Catalog/Catalog/NetworkCore/Request/RequestProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/Request/RequestType.swift
  iOS/Catalog/Catalog/NetworkCore/Request/SecureType.swift
  iOS/Catalog/Catalog/NetworkCore/RequestManager.swift
  iOS/Catalog/Catalog/NetworkCore/Retrier/CLAPIRetrier.swift
  iOS/Catalog/Catalog/NetworkCore/Retrier/CLRetryResult.swift
  iOS/Catalog/Catalog/NetworkCore/Retrier/RequestRetrier.swift
  iOS/Catalog/Catalog/NetworkCore/URLSessionProtocol.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Mock/Trim.json
  iOS/Catalog/Catalog/TrimSelection/Data/Mock/TrimMockRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimAPIConstant.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimAPIManager.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimRequestDTO.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimResponseDTO.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimSelectionRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimSelectionRequest.swift
Labels: :star2: feature, :green_apple: iOS

#123 chore: AutoCorrection Issue
  iOS/Catalog/Catalog/TrimSelection/Data/TrimResponseDTO.swift
Labels: :broom: chore, :green_apple: iOS

#126 feature: ModelType UI 중간 단계 && Component Merge
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets/Mock/complete.imageset/complete.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/external.imageset/external.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/internal.imageset/internal.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/modelType.imageset/modelType.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/powertrain.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/powertrain.imageset/powertrain.png
  iOS/Catalog/Catalog/Assets.xcassets/Mock/trim.imageset/trim.png
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/CatalogApp.swift
  iOS/Catalog/Catalog/Component/ShowDetailButton/DetailButtonStyle.swift
  iOS/Catalog/Catalog/Component/ShowDetailButton/HMGButtonArrowStyle.swift
  iOS/Catalog/Catalog/EntryPointView.swift
  iOS/Catalog/Catalog/Font/Font+.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeView.swift
Labels: :star2: feature, :green_apple: iOS

#127 feature/#76/외장 색상 정보 조회 API 구현
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/ExternalColorDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/ExternalColorEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/ExternalColorMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/mapper/trim/ExternalColorMapper.xml
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/ExternalColorMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/db/external-color-data.sql
  backend/src/test/resources/db/image-data.sql
  backend/src/test/resources/mapper/.gitkeep
Labels: :star2: feature, :leaves: backend

#134 fix: 테스트용 스키마 변경
  backend/src/test/resources/db/schema-ddl.sql
Labels: :leaves: backend, 📂 database

#132 feature: ModelType UI SelectionType, HMGStyle, DetailPage 중간까지
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets/Mock/gasoline3.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Mock/gasoline3.imageset/gasoline3.png
  iOS/Catalog/Catalog/Component/HMGData/BarHorizontalView.swift
  iOS/Catalog/Catalog/Component/HMGData/HMGDataWithHorizontalGraphView.swift
  iOS/Catalog/Catalog/Component/ShowDetailButton/HMGButtonArrowStyle.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModalPopUpContentable.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModelContentView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonContainer.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonModifiers.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeView.swift
Labels: :star2: feature, :green_apple: iOS

#129 Feature/#74/model type page
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/api/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/application/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/domain/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/modelType/dto/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/BodytypeEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/CarBodytypeEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/CarDrivetrainEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/CarPowerTrainEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/DrivetrainEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/PowertrainEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/PowertrainOutputEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/PowertrainTorqueEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeController.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarBodytypeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarDrivetrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarPowertrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/PowertrainOutputDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/PowertrainTorqueDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapper.java
  backend/src/main/resources/static/mapper/modelType/.gitkeep
  backend/src/main/resources/static/mapper/model_type/bodytype_mapper.xml
  backend/src/main/resources/static/mapper/model_type/drivetrain_mapper.xml
  backend/src/main/resources/static/mapper/model_type/powertrain_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapperTest.java
  backend/src/test/resources/db/bodytype-data.sql
  backend/src/test/resources/db/drivetrain-data.sql
  backend/src/test/resources/db/model-type-data.sql
  backend/src/test/resources/db/powertrain-data.sql
Labels: :star2: feature, :leaves: backend

#138 feature: 옵션 global state 적용
  frontend/.prettierrc
  frontend/src/components/common/Footer/Footer.tsx
  frontend/src/components/common/Popup/SummaryPopup.tsx
  frontend/src/components/common/Toggle/Toggle.tsx
  frontend/src/components/exterior/ExteriorCard.tsx
  frontend/src/components/exterior/ExteriorSelector.tsx
  frontend/src/components/interior/InteriorCard.tsx
  frontend/src/components/interior/InteriorSelector.tsx
  frontend/src/components/model/ModelTypeCard.tsx
  frontend/src/components/model/ModelTypeOptionList.tsx
  frontend/src/components/model/ModelTypeSelector.tsx
  frontend/src/components/result/DetailEstimate.tsx
  frontend/src/components/result/EstimateAccordian.tsx
  frontend/src/components/result/ResultBanner.tsx
  frontend/src/components/result/utils/getPriceSum.ts
  frontend/src/components/result/utils/index.ts
  frontend/src/components/trim/PracticalInfo.tsx
  frontend/src/components/trim/TrimCard.tsx
  frontend/src/components/trim/TrimSelector.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useFetcher.ts
  frontend/src/main.tsx
  frontend/src/pages/ExteriorPage.tsx
  frontend/src/pages/InteriorPage.tsx
  frontend/src/pages/ModelPage.tsx
  frontend/src/pages/Pages.tsx
  frontend/src/pages/ResultPage.tsx
  frontend/src/pages/TrimPage.tsx
  frontend/src/providers/SelectionProvider.tsx
  frontend/src/providers/index.ts
  frontend/src/types/interface.ts
  frontend/src/utils/fetch.ts
  frontend/src/utils/string.ts
Labels: :toolbox: refactor, :star2: feature, :strawberry: frontend

#139 feature: 옵션 페이지 구현
  frontend/src/components/common/Banner/Banner.tsx
  frontend/src/components/common/Button/CategoryButton.tsx
  frontend/src/components/common/Button/OptionTagButton.tsx
  frontend/src/components/common/Button/index.ts
  frontend/src/components/common/Divider/Divider.tsx
  frontend/src/components/common/Flex/Flex.tsx
  frontend/src/components/common/Footer/Footer.tsx
  frontend/src/components/common/HashTag/HashTag.tsx
  frontend/src/components/common/HashTag/index.ts
  frontend/src/components/common/MainSelector/MainSelector.tsx
  frontend/src/components/common/Popup/SummaryPopup.tsx
  frontend/src/components/common/Toggle/Toggle.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/option/OptionBanner.tsx
  frontend/src/components/option/OptionSelector.tsx
  frontend/src/components/option/hooks/index.ts
  frontend/src/components/option/hooks/useFilter.ts
  frontend/src/components/option/index.ts
  frontend/src/components/option/mock/mock.ts
  frontend/src/components/option/utils/CheckIcon.tsx
  frontend/src/components/option/utils/HMGDetail.tsx
  frontend/src/components/option/utils/OptionCard.tsx
  frontend/src/components/option/utils/index.ts
  frontend/src/components/result/ResultBanner.tsx
  frontend/src/hooks/usePagination.ts
  frontend/src/pages/OptionPage.tsx
  frontend/src/pages/Pages.tsx
  frontend/src/styles/colors.ts
  frontend/src/types/boxStyle.ts
  frontend/src/types/flexStyle.ts
  frontend/src/types/interface.ts
  frontend/src/types/positionStyle.ts
Labels: :star2: feature, :strawberry: frontend

#130 feature/#77/내장 색상 정보 조회 API 구현
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/InternalColorDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/InternalColorEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/db/internal-color-data.sql
Labels: :star2: feature, :leaves: backend

#137 feature: ModelType Details 화면 UI 구현
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Component/HMGData/HMGDataWithHorizontalGraphView.swift
  iOS/Catalog/Catalog/Component/Modal/BlurredFullScreenCover.swift
  iOS/Catalog/Catalog/Component/Modal/CLDialog.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModelContentView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonModifiers.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeView.swift
Labels: :star2: feature, :green_apple: iOS

#144 feature: AverageFee 추가하기, HMG Data 관련 뷰 컴포넌트화
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeIntent.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeModel.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLNumber.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLPrice.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLSimilarQuotationSlideView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLSliderView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/HMGData/HMGDataBannerComponent.swift
  iOS/Catalog/Catalog/Component/HMGData/HMGDataWithHorizontalGraphView.swift
  iOS/Catalog/Catalog/Component/QuotationSummary/CLListText.swift
  iOS/Catalog/Catalog/Component/QuotationSummary/CLQuotationPriceBar.swift
  iOS/Catalog/Catalog/Component/QuotationSummary/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/EntryPointView.swift
  iOS/Catalog/Catalog/Font/Font+.swift
  iOS/Catalog/Catalog/Model/CLColor.swift
  iOS/Catalog/Catalog/Model/CLOption.swift
  iOS/Catalog/Catalog/Model/CarQuotation.swift
  iOS/Catalog/Catalog/Model/Trim.swift
  iOS/Catalog/Catalog/ModelTypeSelection/AverageBanner/FuelEfficiencyAverageBannerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModelContentView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeView.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimResponseDTO.swift
Labels: :star2: feature, :green_apple: iOS

#143 feature: global state 적용
  frontend/src/components/common/Footer/Footer.tsx
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.tsx
  frontend/src/components/common/PriceStaticBar/Slider.tsx
  frontend/src/components/option/DefaultOptionSelector.tsx
  frontend/src/components/option/ExtraOptionSelector.tsx
  frontend/src/components/option/OptionBanner.tsx
  frontend/src/components/option/index.ts
  frontend/src/components/option/utils/OptionCard.tsx
  frontend/src/components/result/DetailEstimate.tsx
  frontend/src/components/result/EstimateAccordian.tsx
  frontend/src/components/result/ResultBanner.tsx
  frontend/src/pages/ExteriorPage.tsx
  frontend/src/pages/ModelPage.tsx
  frontend/src/pages/OptionPage.tsx
  frontend/src/pages/ResultPage.tsx
  frontend/src/providers/SelectionProvider.tsx
  frontend/src/utils/number.ts
Labels: :star2: feature, :strawberry: frontend

#142 Feature/#83/technical spec
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/TechnicalSpecEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeController.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/TechnicalSpecDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapper.java
  backend/src/main/resources/static/mapper/model_type/technical_spec_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapperTest.java
  backend/src/test/resources/db/technical-spec-data.sql
Labels: :star2: feature, :leaves: backend

#154 feature: 백엔드 api 연동
  frontend/src/apis/exterior.ts
  frontend/src/apis/interior.ts
  frontend/src/apis/model.ts
  frontend/src/apis/trim.ts
  frontend/src/components/carousel/PageCarousel.tsx
  frontend/src/components/common/Banner/Banner.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/Loading/index.ts
  frontend/src/components/common/Popup/SummaryPopup.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/model/BottomHMGData.tsx
  frontend/src/components/model/ModelOptionDetail.tsx
  frontend/src/components/model/utils/calculateRatios.ts
  frontend/src/components/result/ResultBanner.tsx
  frontend/src/components/trim/PracticalInfo.tsx
  frontend/src/components/trim/TrimImageList.tsx
  frontend/src/components/trim/TrimSelector.tsx
  frontend/src/hooks/useFetcher.ts
  frontend/src/pages/ExteriorPage.tsx
  frontend/src/pages/InteriorPage.tsx
  frontend/src/pages/ModelPage.tsx
  frontend/src/pages/ResultPage.tsx
  frontend/src/pages/TrimPage.tsx
  frontend/src/providers/SelectionProvider.tsx
  frontend/src/types/interface.ts
  frontend/src/types/util-type.ts
  frontend/src/utils/fetch.ts
  frontend/vite.config.ts
Labels: :strawberry: frontend

#147 feature: iOS/#86/Trim Selection View 구현하기
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/ArchitectureKit/IntentBindingType.swift
  iOS/Catalog/Catalog/Assets.xcassets/Le_Blanc_Image/trim_select_image.imageset/001 2.svg
  iOS/Catalog/Catalog/Assets.xcassets/Le_Blanc_Image/trim_select_image.imageset/Contents.json
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeIntent.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLSliderView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLBudgetRangeView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLSimilarQuotationSlideView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLSliderView.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationModel.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/Colors/Colors.xcassets/ShadowColor.colorset/Contents.json
  iOS/Catalog/Catalog/Component/Button/CLButton.swift
  iOS/Catalog/Catalog/Component/Button/CLInactableButton.swift
  iOS/Catalog/Catalog/Component/Button/CLInactiveButtonStyle.swift
  iOS/Catalog/Catalog/Component/Button/CLSimilarQuotationButton.swift
  iOS/Catalog/Catalog/Component/Modal/BlurredFullScreenCover.swift
  iOS/Catalog/Catalog/Component/QuotationSummary/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/Component/pop-up/CLPopUp.swift
  iOS/Catalog/Catalog/Component/pop-up/DimmedZStack.swift
  iOS/Catalog/Catalog/Component/pop-up/EntryGuide.swift
  iOS/Catalog/Catalog/EntryPointView.swift
  iOS/Catalog/Catalog/Font/Font+.swift
  iOS/Catalog/Catalog/Model/CLNumber.swift
  iOS/Catalog/Catalog/Model/CarQuotation.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/QuotationSummary/BottomArea.swift
  iOS/Catalog/Catalog/QuotationSummary/CLLinearGradient.swift
  iOS/Catalog/Catalog/QuotationSummary/CLListText.swift
  iOS/Catalog/Catalog/QuotationSummary/CLQuotationPriceBar.swift
  iOS/Catalog/Catalog/QuotationSummary/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/QuotationSummary/CLToggle.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Mock/TrimMockRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Trim.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimResponseDTO.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimSelectionRepository.swift
  iOS/Catalog/Catalog/TrimSelection/TrimSelectionIntent.swift
  iOS/Catalog/Catalog/TrimSelection/TrimSelectionModel.swift
  iOS/Catalog/Catalog/TrimSelection/View/HMGDataCard.swift
  iOS/Catalog/Catalog/TrimSelection/View/HMGTag.swift
  iOS/Catalog/Catalog/TrimSelection/View/SnapCarousel.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimCardView.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimSelectionView.swift
Labels: :star2: feature, :green_apple: iOS

#159 feature: ModelType MVI, ModelType Repository
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeIntent.swift
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/HMGData/BarHorizontalView.swift
  iOS/Catalog/Catalog/Component/HMGData/HMGDataWithHorizontalGraphView.swift
  iOS/Catalog/Catalog/Font/Font+.swift
  iOS/Catalog/Catalog/Model/CLNumber.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelType.json
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRepository.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeResponseDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/MaxOutputFromEngine.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/MaxTorqueFromEngine.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/ModelTypeOption.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/Option.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/OptionInDetail.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/ResultOfCalculationOfFuelAndDisplacement.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/ModelTypeRepositoryProtocol.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModelContentView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeModal/ModelTypeContent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeSelectionContainerView/ModelTypeSelectionContainerIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeSelectionContainerView/ModelTypeSelectionContainerModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModeTypeModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonContainer.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/ModelTypeView/ModelTypeView.swift
  iOS/Catalog/Catalog/NetworkCore/APIManagerProtocol.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Mock/TrimMockRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimAPIConstant.swift
Labels: :green_apple: iOS

#161 feature/iOS/#67 type select network
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRepository.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRequest.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRequestDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeResponseDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/Option.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Intent/ModelTypeIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Intent/ModelTypeSelectionContainerIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModeTypeModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeSelectionContainerModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/AverageBanner/FuelEfficiencyAverageBannerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModalPopUpContentable.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModelContentView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModelTypeContent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonContainer.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonModifiers.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeView.swift
  iOS/Catalog/Catalog/NetworkCore/API.swift
  iOS/Catalog/Catalog/NetworkCore/Mock/CLNetworkError.swift
  iOS/Catalog/Catalog/NetworkCore/URLSessionProtocol.swift
  iOS/Catalog/Catalog/Quotation/View/BottomArea.swift
  iOS/Catalog/Catalog/Quotation/View/CLLinearGradient.swift
  iOS/Catalog/Catalog/Quotation/View/CLListText.swift
  iOS/Catalog/Catalog/Quotation/View/CLQuotationPriceBar.swift
  iOS/Catalog/Catalog/Quotation/View/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/Quotation/View/CLToggle.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/BottomArea.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/CLLinearGradient.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/CLListText.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/CLQuotationPriceBar.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/CLToggle.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimResponseDTO.swift
  iOS/Catalog/Catalog/TrimSelection/Intent/TrimSelectionIntent.swift
  iOS/Catalog/Catalog/TrimSelection/Model/TrimSelectionModel.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimSelectionView.swift
Labels: :star2: feature, :green_apple: iOS

#160 Feature/#78/extra options
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/enums/HashTag.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/api/OptionsController.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/HashTagDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/TrimOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/enums/OptionType.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapper.java
  backend/src/main/resources/static/mapper/options/options_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/options/dto/HashTagDtoTest.java
Labels: :star2: feature, :leaves: backend

#164 Feature/#79/default options
  backend/src/main/java/com/h2o/h2oServer/domain/options/api/OptionsController.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimDefaultOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimExtraOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/TrimDefaultOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/TrimExtraOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/enums/OptionType.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapper.java
  backend/src/main/java/com/h2o/h2oServer/global/config/.gitkeep
  backend/src/main/resources/static/mapper/options/options_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapperTest.java
  backend/src/test/resources/db/options/option-data.sql
  backend/src/test/resources/db/options/package-data.sql
Labels: :star2: feature, :leaves: backend

#163 Feature/#80/트림 기본 구성 정보 조회 기능 구현
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/DefaultTrimCompositionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/TrimEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/static/mapper/model_type/bodytype_mapper.xml
  backend/src/main/resources/static/mapper/model_type/drivetrain_mapper.xml
  backend/src/main/resources/static/mapper/model_type/powertrain_mapper.xml
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
Labels: :star2: feature, :leaves: backend

#167 Feature/#85/트림 가격 범위 조회 api 구현
  backend/src/main/java/com/h2o/h2oServer/domain/car/mapper/CarMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/PriceRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/static/mapper/car/CarMapper.xml
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/car/mapper/CarMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/db/car/car-modeltype-data.sql
  backend/src/test/resources/db/trim/external-color-data.sql
  backend/src/test/resources/db/trim/internal-color-data.sql
  backend/src/test/resources/db/trim/trims-data.sql
  backend/src/test/resources/db/trim/trims-option-data.sql
Labels: :star2: feature, :leaves: backend

#170 Feature/#128/스웨거 설정
  backend/build.gradle
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeController.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarBodytypeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarDrivetrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarPowertrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/PowertrainOutputDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/PowertrainTorqueDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/TechnicalSpecDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/api/OptionController.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDetailsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionStatisticsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/api/PackageController.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/dto/PackageDetailsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/api/OptionsController.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/HashTagDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimDefaultOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimExtraOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/DefaultTrimCompositionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/ExternalColorDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/InternalColorDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/TrimDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/TrimStatisticsDto.java
  backend/src/main/java/com/h2o/h2oServer/global/config/SwaggerConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: :star2: feature, :leaves: backend

#172 Feature/#84/quotation
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeIdDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/api/QuotationController.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationRequestDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationResponseDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/entity/OptionQuotationEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/entity/PackageQuotationEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapper.java
  backend/src/main/resources/static/mapper/quotation/quotation_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapperTest.java
  backend/src/test/resources/db/quotation/quotation-tx-data.sql
  backend/src/test/resources/db/schema-ddl.sql
Labels: :star2: feature, :leaves: backend

#171 feature: 유사 견적 팝업창 구현
  frontend/src/components/common/Popup/ConfirmPopup.tsx
  frontend/src/components/common/Popup/Popup.tsx
  frontend/src/components/common/PriceStaticBar/index.ts
  frontend/src/components/common/Shape/Circle.tsx
  frontend/src/components/common/Shape/index.ts
  frontend/src/components/common/index.ts
  frontend/src/components/exterior/ExteriorCard.tsx
  frontend/src/components/option/DefaultOptionSelector.tsx
  frontend/src/components/option/ExtraOptionSelector.tsx
  frontend/src/components/option/mock/mock.ts
  frontend/src/components/option/utils/CheckBox.tsx
  frontend/src/components/option/utils/OptionCard.tsx
  frontend/src/components/option/utils/index.ts
  frontend/src/components/result/DetailEstimate.tsx
  frontend/src/components/similarEstimation/EstimationCard.tsx
  frontend/src/components/similarEstimation/Popup/ConfirmClosePopup.tsx
  frontend/src/components/similarEstimation/Popup/ConfirmOptionPopup.tsx
  frontend/src/components/similarEstimation/Popup/index.ts
  frontend/src/components/similarEstimation/SimilarEstimationPopup.tsx
  frontend/src/components/similarEstimation/SimilarEstimationPriceBar.tsx
  frontend/src/components/similarEstimation/index.ts
  frontend/src/components/similarEstimation/mock/mock.ts
  frontend/src/components/similarEstimation/utils/OptionCard.tsx
  frontend/src/components/similarEstimation/utils/index.ts
  frontend/src/hooks/useSetList.ts
  frontend/src/pages/OptionPage.tsx
Labels: :star2: feature, :strawberry: frontend

#177 feature: 종료 모달 구현
  frontend/src/apis/trim.ts
  frontend/src/components/common/Header/CloseMyCarPopup.tsx
  frontend/src/components/common/Header/Header.tsx
Labels: :star2: feature, :strawberry: frontend

#169 feature: Interior && Exterior 화면 내 가로 스크롤 Component화
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/Colors/Color+.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorContentable.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionComponent.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionView.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/HorizontalScroller.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/MockExternalColorRepository.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalColor.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalColorRepositoryProtocol.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalSelectionIntent.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalSelectionModel.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalColorDisplayView.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalSelectionContainerView.swift
  iOS/Catalog/Catalog/InternalColorSelection/Domain/CarColorType.swift
  iOS/Catalog/Catalog/InternalColorSelection/Domain/ColorInfoState.swift
  iOS/Catalog/Catalog/InternalColorSelection/Domain/InteriorColor.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorDisplayView.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorSelectionContainerView.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorSelectionView.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorState.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Intent/ModelTypeSelectionContainerIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonView.swift
Labels: :star2: feature, :green_apple: iOS

#175 fix: ExternalColorDto - choiceRatio가 float 형식을 갖는 버그 수정
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/ExternalColorDto.java
Labels: :bug: bug, :leaves: backend

#178 feature: 내장색상, 외장색상 MVI + Network Fetching
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/CLNavigationView.swift
  iOS/Catalog/Catalog/Colors/Color+.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionComponent.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionView.swift
  iOS/Catalog/Catalog/Component/Modal/CLDialog.swift
  iOS/Catalog/Catalog/Component/ShowDetailButton/HMGButtonArrowStyle.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/ExteriorColorAPIManager.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/ExteriorColorRepository.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/ExteriorColorRequest.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/ExteriorColorResponseDTO.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/MockExternalColorRepository.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExteriorColor.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExteriorColorRepositoryProtocol.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalSelectionIntent.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalSelectionModel.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalSelectionContainerView.swift
  iOS/Catalog/Catalog/Info.plist
  iOS/Catalog/Catalog/InteriorColorSelection/Data/InteriorAPIManager.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Data/InteriorColorRequest.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Data/InteriorColorResponseDTO.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Data/InteriorColorSelectionRepository.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Data/InteriorColorSelectionRepositoryProtocol.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Domain/CarColorType.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Domain/ColorInfoState.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Domain/InteriorColor.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Domain/InteriorColorState.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Intent/InteriorColorSelectionIntent.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Model/InteriorColorSelectionModel.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorDisplayView.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorSelectionView.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorSelectionContainerView.swift
  iOS/Catalog/Catalog/InternalColorSelection/InteriorColorSelectionView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRequest.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/NetworkCore/API.swift
  iOS/Catalog/Catalog/NetworkCore/DataParser.swift
  iOS/Catalog/Catalog/NetworkCore/Request/RequestProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/RequestManager.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Mock/TrimMockRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimSelectionRequest.swift
Labels: :star2: feature, :green_apple: iOS

#181 fix: 옵션 세부 사항 조회 api 버그 수정
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDetailsDto.java
Labels: :bug: bug, :leaves: backend

#185 fix: 패키지 세부 정보 조회 API 오류 수정
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/dto/PackageDetailsDto.java
Labels: :bug: bug, :leaves: backend

#193 Fix/#189/옵션 세부 정보 응답 형식 수정
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDetailsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionStatisticsDto.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/application/OptionServiceTest.java
Labels: :bug: bug, :leaves: backend

#194 feature: API 연동
  frontend/src/apis/exterior.ts
  frontend/src/apis/model.ts
  frontend/src/apis/option.ts
  frontend/src/apis/trim.ts
  frontend/src/components/common/Popup/SummaryPopup.tsx
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.tsx
  frontend/src/components/common/PriceStaticBar/Slider.tsx
  frontend/src/components/model/BottomHMGData.tsx
  frontend/src/components/option/DefaultOptionSelector.tsx
  frontend/src/components/option/ExtraOptionSelector.tsx
  frontend/src/components/option/OptionBanner.tsx
  frontend/src/components/option/hooks/useFilter.ts
  frontend/src/components/option/utils/HMGDetail.tsx
  frontend/src/components/option/utils/OptionCard.tsx
  frontend/src/components/trim/TrimCard.tsx
  frontend/src/pages/OptionPage.tsx
  frontend/src/providers/SelectionProvider.tsx
  frontend/src/types/interface.ts
Labels: :star2: feature, :strawberry: frontend

#195 feature: image optimization & 분포그래프 구조 설정
  frontend/src/components/exterior/ExteriorCarImg.tsx
  frontend/src/components/interior/InteriorSelector.tsx
  frontend/src/components/result/DetailEstimate.tsx
  frontend/src/components/result/PriceGraph.tsx
  frontend/src/components/trim/TrimImageList.tsx
  frontend/src/components/trim/TrimSelector.tsx
  frontend/src/hooks/usePagination.ts
  frontend/src/pages/ExteriorPage.tsx
  frontend/src/utils/image.ts
Labels: :star2: feature, :strawberry: frontend

#190 Feature/#176/예외 처리 설정
  backend/src/main/java/com/h2o/h2oServer/domain/car/exception/NoSuchCarException.java
  backend/src/main/java/com/h2o/h2oServer/domain/car/mapper/CarMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/exception/NoSuchBodyTypeException.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/exception/NoSuchDriveTrainException.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/exception/NoSuchPowertrainException.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/exception/NoSuchTechnicalSpecException.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/application/OptionService.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/exception/NoSuchOptionException.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/mapper/OptionMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/application/PackageService.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/exception/NoSuchPackageException.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/mapper/PackageMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/Exception/NoSuchExternalColorException.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/Exception/NoSuchInternalColorException.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/Exception/NoSuchTrimException.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/ErrorResponse.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/exceptionHandler/ControllerAdvice.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/exceptionHandler/ErrorReport.java
  backend/src/main/resources/db/trims-data.sql
  backend/src/main/resources/static/mapper/car/CarMapper.xml
  backend/src/main/resources/static/mapper/model_type/bodytype_mapper.xml
  backend/src/main/resources/static/mapper/model_type/drivetrain_mapper.xml
  backend/src/main/resources/static/mapper/model_type/powertrain_mapper.xml
  backend/src/main/resources/static/mapper/model_type/technical_spec_mapper.xml
  backend/src/main/resources/static/mapper/option/OptionMapper.xml
  backend/src/main/resources/static/mapper/optionPackage/packageMapper.xml
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/car/mapper/CarMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/mapper/OptionMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/mapper/PackageMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/db/car/car-data.sql
  backend/src/test/resources/db/modelType/bodytype-data.sql
  backend/src/test/resources/db/modelType/drivetrain-data.sql
  backend/src/test/resources/db/modelType/powertrain-data.sql
  backend/src/test/resources/db/option/option-data.sql
Labels: :star2: feature, :leaves: backend

#196 feature: 견적 완료 페이지 구현1
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets/Background/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Background/QuotationCompleteBackground.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/Background/QuotationCompleteBackground.imageset/Rectangle 830183.svg
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeIntent.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeModel.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLBudgetRangeView.swift
  iOS/Catalog/Catalog/CLNavigation/Intent/CLNavigationIntent.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuTitleView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLTopNaviBar.swift
  iOS/Catalog/Catalog/Component/LeadingTitle.swift
  iOS/Catalog/Catalog/Component/Modal/CLSheetCapsule.swift
  iOS/Catalog/Catalog/Font/Font+.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/MaxOutputFromEngine.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeModels.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/Quotation/QuotationModel.swift
  iOS/Catalog/Catalog/Quotation/View/CLQuotationPriceBar.swift
  iOS/Catalog/Catalog/QuotationComplete/DetailQuotationList.swift
  iOS/Catalog/Catalog/QuotationComplete/DetailQuotationTitle.swift
  iOS/Catalog/Catalog/QuotationComplete/QuotationCompleteSheet.swift
  iOS/Catalog/Catalog/QuotationComplete/QuotationCompleteView.swift
  iOS/Catalog/Catalog/QuotationComplete/QuotationExteriorView.swift
  iOS/Catalog/Catalog/QuotationComplete/QuotationInteriorView.swift
  iOS/Catalog/Catalog/QuotationComplete/QuotationSheetTop.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Mock/TrimMockRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimSelectionRepository.swift
  iOS/Catalog/Catalog/TrimSelection/Intent/TrimSelectionIntent.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimCardView.swift
Labels: :star2: feature, :green_apple: iOS

#199 bug: 옵션 페이지 api 연동 오류 설정
  frontend/src/components/option/OptionBanner.tsx
  frontend/src/components/option/index.ts
  frontend/src/components/option/utils/HMGDetail.tsx
  frontend/src/pages/OptionPage.tsx
  frontend/src/types/interface.ts
Labels: :bug: bug, :strawberry: frontend

#201 feature: 추가 옵션 선택 페이지 UI
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets/Mock/cooling.imageset/2_cooling.jpg
  iOS/Catalog/Catalog/Assets.xcassets/Mock/cooling.imageset/Contents.json
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuTitleView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Colors/Color+.swift
  iOS/Catalog/Catalog/Colors/Colors.xcassets/ImageTagBackground.colorset/Contents.json
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionComponent.swift
  iOS/Catalog/Catalog/Component/FilterButton/FilterButtonStyle.swift
  iOS/Catalog/Catalog/Component/HMGData/HMGButton.swift
  iOS/Catalog/Catalog/Component/ImageTag/ImageTagView.swift
  iOS/Catalog/Catalog/EntryPointView.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/ExteriorColorRequest.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalSelectionIntent.swift
  iOS/Catalog/Catalog/Font/Font+.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRepository.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModeTypeModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeSelectionContainerModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonContainer.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonModifiers.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeView.swift
  iOS/Catalog/Catalog/OptionSelection/FilterButton/FilterButtonBar.swift
  iOS/Catalog/Catalog/OptionSelection/FilterButton/FilterButtonView.swift
  iOS/Catalog/Catalog/OptionSelection/Model/OptionFilter.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCard/OptionCardModel.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCard/OptionCardView.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCard/OptionCardViewIntent.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCardScroll/OptionCardScollView.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCardScroll/OptionCardScrollIntent.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCardScroll/OptionCardScrollModel.swift
  iOS/Catalog/Catalog/OptionSelection/OptionSelectionIntent.swift
  iOS/Catalog/Catalog/OptionSelection/OptionSelectionModel.swift
  iOS/Catalog/Catalog/OptionSelection/OptionSelectionView.swift
Labels: :star2: feature, :green_apple: iOS

#197 Feature/#182/트림 가격 분포 조회 API 구현
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/PriceDistributionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/PriceRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/db/image-data.sql
  backend/src/test/resources/db/modelType/powertrain-data.sql
  backend/src/test/resources/db/schema-ddl.sql
  backend/src/test/resources/db/trim/external-color-data.sql
  backend/src/test/resources/db/trim/internal-color-data.sql
  backend/src/test/resources/db/trim/sold-car-data.sql
Labels: :star2: feature, :leaves: backend

#207 feature/iOS/#188 quotation completion 2
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeIntent.swift
  iOS/Catalog/Catalog/CLBudgetSetting/CLBudgetRangeModel.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLBudgetRangeView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLSliderView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/LeadingTitle.swift
  iOS/Catalog/Catalog/Component/Text/LeadingTitle.swift
  iOS/Catalog/Catalog/Component/pop-up/EntryGuide.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/ExternalColorDTO.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Data/MockExternalColorRepository.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExteriorColor.swift
  iOS/Catalog/Catalog/ExternalColorSelection/Domain/ExternalColorModel.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Domain/InteriorColor.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Model/InteriorColorSelectionModel.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorSelectionView.swift
  iOS/Catalog/Catalog/InternalColorSelection/Data/InternalColorDTO.swift
  iOS/Catalog/Catalog/InternalColorSelection/Domain/InternalColorModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeResponseDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/MaxOutputFromEngine.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/MaxTorqueFromEngine.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/ModelTypeRepositoryProtocol.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Intent/ModelTypeSelectionContainerIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeModels.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeSelectionContainerModel.swift
  iOS/Catalog/Catalog/OptionSelection/Data/ExtraOptionDTO.swift
  iOS/Catalog/Catalog/OptionSelection/Domain/ExtraOptionModel.swift
  iOS/Catalog/Catalog/Quotation/CarQuotation.swift
  iOS/Catalog/Catalog/Quotation/SummaryCarQuotation.swift
  iOS/Catalog/Catalog/Quotation/View/BottomArea.swift
  iOS/Catalog/Catalog/Quotation/View/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/Quotation/View/CLToggle.swift
  iOS/Catalog/Catalog/Quotation/View/SummarySheetListItem.swift
  iOS/Catalog/Catalog/Quotation/퍋ㅈ/BottomArea.swift
  iOS/Catalog/Catalog/QuotationComplete/DetailQuotationList.swift
  iOS/Catalog/Catalog/QuotationComplete/QuotationInteriorView.swift
  iOS/Catalog/Catalog/QuotationComplete/View/DetailQuotationItem.swift
  iOS/Catalog/Catalog/QuotationComplete/View/DetailQuotationList.swift
  iOS/Catalog/Catalog/QuotationComplete/View/DetailQuotationTitle.swift
  iOS/Catalog/Catalog/QuotationComplete/View/MockDetailQuotationTitle.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationCompleteSheet.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationCompleteView.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationExteriorView.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationInteriorView.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationSheetTop.swift
  iOS/Catalog/Catalog/QuotationSummary/BottomArea.swift
  iOS/Catalog/Catalog/TrimSelection/Data/DTO/TrimDTO.swift
  iOS/Catalog/Catalog/TrimSelection/Data/DTO/TrimDefaultOptionDTO.swift
  iOS/Catalog/Catalog/TrimSelection/Data/Trim.swift
  iOS/Catalog/Catalog/TrimSelection/Model/TrimSelectionModel.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimSelectionView.swift
Labels: :green_apple: iOS

#213 feature: 선택옵션 MVI, Repository, Data 영역 완성 및 Interior Color Image 비동기
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionComponent.swift
  iOS/Catalog/Catalog/Component/FilterButton/FilterButtonStyle.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalColorDisplayView.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/ExternalColorSelection/View/ExternalSelectionContainerView.swift
  iOS/Catalog/Catalog/InteriorColorSelection/Intent/InteriorColorSelectionIntent.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorDisplayView.swift
  iOS/Catalog/Catalog/InteriorColorSelection/VIew/InteriorColorSelectionView.swift
  iOS/Catalog/Catalog/Model/Option.swift
  iOS/Catalog/Catalog/OptionSelection/Data/NetworkRequest/OptionSelectionAPIManager.swift
  iOS/Catalog/Catalog/OptionSelection/Data/NetworkRequest/OptionSelectionRequest.swift
  iOS/Catalog/Catalog/OptionSelection/Data/Repository/OptionSelectRepositoryProtocol.swift
  iOS/Catalog/Catalog/OptionSelection/Data/Repository/OptionSelectionRepository.swift
  iOS/Catalog/Catalog/OptionSelection/Data/ResponseDTO/DefaultOptionResponseDTO.swift
  iOS/Catalog/Catalog/OptionSelection/Data/ResponseDTO/DetailOptionResponseDTO.swift
  iOS/Catalog/Catalog/OptionSelection/Data/ResponseDTO/ExtraOptionResponseDTO.swift
  iOS/Catalog/Catalog/OptionSelection/Data/ResponseDTO/PackageInfoDTO.swift
  iOS/Catalog/Catalog/OptionSelection/Entity/DefaultOption.swift
  iOS/Catalog/Catalog/OptionSelection/Entity/DetailOptionInfo.swift
  iOS/Catalog/Catalog/OptionSelection/Entity/ExtraOption.swift
  iOS/Catalog/Catalog/OptionSelection/Entity/ExtraOptionModel.swift
  iOS/Catalog/Catalog/OptionSelection/Entity/PackageComponent.swift
  iOS/Catalog/Catalog/OptionSelection/Entity/PackageInfo.swift
  iOS/Catalog/Catalog/OptionSelection/FilterButton/FilterButtonBar.swift
  iOS/Catalog/Catalog/OptionSelection/Model/OptionCategory.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCard/OptionCardModel.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCard/OptionCardView.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCardScroll/OptionCardScollView.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCardScroll/OptionCardScrollIntent.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCardScroll/OptionCardScrollModel.swift
  iOS/Catalog/Catalog/OptionSelection/OptionSelectionContainer/OptionSelectionIntent.swift
  iOS/Catalog/Catalog/OptionSelection/OptionSelectionContainer/OptionSelectionModel.swift
  iOS/Catalog/Catalog/OptionSelection/OptionSelectionContainer/OptionSelectionView.swift
  iOS/Catalog/Catalog/Utils/CGFloat+.swift
Labels: :star2: feature, :green_apple: iOS

#218 Feature/#192/extra option pagination
  backend/src/main/java/com/h2o/h2oServer/domain/options/api/OptionsController.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/DefaultOptionRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/DefaultOptionSizeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/ExtraOptionSizeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/OffsetRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/PageRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/enums/OptionType.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapper.java
  backend/src/main/resources/static/mapper/options/options_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapperTest.java
Labels: :star2: feature, :leaves: backend

#220 Feature/#210/유사 견적 정보 조회 API 구현
  backend/build.gradle
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeIdDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeNameDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionSummaryDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/api/QuotationController.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/CosineSimilarityCalculator.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationRequestDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationResponseDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/SimilarQuotationDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/entity/ReleaseEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/global/util/StringParser.java
  backend/src/main/resources/static/mapper/quotation/quotation_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/CosineSimilarityCalculatorTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapperTest.java
  backend/src/test/resources/db/quotation/release-data.sql
Labels: :star2: feature, :leaves: backend

#225 Feature/#221/테스트 코드 개선/리팩토링
  backend/build.gradle
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeIdDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/api/OptionController.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/application/OptionService.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationRequestDto.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/BodyTypeFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/DrivetrainFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/PowertrainFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/HashTagFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/OptionFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/application/OptionServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/mapper/OptionMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/PackageFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/application/PackageServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/mapper/PackageMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/QuotationFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/ExternalColorFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/ImageFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/InternalColorFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/TrimFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/api/TrimControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/ExternalColorMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
  backend/src/test/resources/db/image-data.sql
  backend/src/test/resources/db/modelType/bodytype-data.sql
  backend/src/test/resources/db/trim/external-color-data.sql
  backend/src/test/resources/db/trim/trims-data.sql
Labels: :star2: feature, :leaves: backend

#214 feature: 예외처리 및 fetch 최적화
  frontend/.gitignore
  frontend/package.json
  frontend/src/assets/lotties/error.json
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/common/ErrorBoundary/ErrorFallback.tsx
  frontend/src/components/common/ErrorBoundary/index.ts
  frontend/src/components/common/index.ts
  frontend/src/hooks/useFetcher.ts
  frontend/src/hooks/useFetcherAsync.ts
  frontend/src/main.tsx
  frontend/src/pages/TrimPage/TrimPage.test.tsx
  frontend/src/pages/TrimPage/TrimPage.tsx
  frontend/src/tests/CacheStorageMock.ts
  frontend/src/tests/setup.ts
  frontend/src/tests/test-util.tsx
  frontend/src/utils/fetch.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: :star2: feature, :strawberry: frontend

#222 feature: iOS 모델 타입 Network Fetching + AsyncImage + 차량 성능 정보 조회
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/HMGData/HMGDataWithHorizontalGraphView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/BodyTypeDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/DriveTrainDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/MaxOutputDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/MaxTorqueDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRepository.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeRequest.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/ModelTypeResponseDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/PowerTrainDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Data/TechnicalSpecResponseDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/MaxOutputFromEngine.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/ModelType.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/ModelTypeOption.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/OptionInDetail.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/Entity/ResultOfCalculationOfFuelAndDisplacement.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Domain/ModelTypeRepositoryProtocol.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Intent/ModelTypeIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Intent/ModelTypeSelectionContainerIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/BodyTypeModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/DriveTrainModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModeTypeModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeModels.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeSelectionContainerModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/PowerTrainModel.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/AverageBanner/FuelEfficiencyAverageBannerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModelContentView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeModal/ModelTypeContent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeSelectionContainerView/ModelTypeSelectionContainerView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonContainer.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeButtonView.swift
  iOS/Catalog/Catalog/ModelTypeSelection/View/ModelTypeView/ModelTypeView.swift
  iOS/Catalog/Catalog/OptionSelection/OptionCard/OptionCardView.swift
Labels: :star2: feature, :green_apple: iOS

#212 test: 테스트 코드 작성
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/components/common/Button/CTAButton/CTAButton.test.tsx
  frontend/src/components/common/Button/CTAButton/CTAButton.tsx
  frontend/src/components/common/Button/CTAButton/__snapshots__/CTAButton.test.tsx.snap
  frontend/src/components/common/Button/CTAButton/index.ts
  frontend/src/components/common/Button/CTACTypeButton/CTACTypeButton.test.tsx
  frontend/src/components/common/Button/CTACTypeButton/CTACTypeButton.tsx
  frontend/src/components/common/Button/CTACTypeButton/__snapshots__/CTACTypeButton.test.tsx.snap
  frontend/src/components/common/Button/CTACTypeButton/index.ts
  frontend/src/components/common/Button/CategoryButton/CategoryButton.test.tsx
  frontend/src/components/common/Button/CategoryButton/CategoryButton.tsx
  frontend/src/components/common/Button/CategoryButton/__snapshots__/CategoryButton.test.tsx.snap
  frontend/src/components/common/Button/CategoryButton/index.ts
  frontend/src/components/common/Button/ImageButton/ImageButton.test.tsx
  frontend/src/components/common/Button/ImageButton/ImageButton.tsx
  frontend/src/components/common/Button/ImageButton/__snapshots__/ImageButton.test.tsx.snap
  frontend/src/components/common/Button/ImageButton/index.ts
  frontend/src/components/common/Button/PriceSummaryButton/PriceSummaryButton.test.tsx
  frontend/src/components/common/Button/PriceSummaryButton/PriceSummaryButton.tsx
  frontend/src/components/common/Button/PriceSummaryButton/__snapshots__/PriceSummaryButton.test.tsx.snap
  frontend/src/components/common/Button/PriceSummaryButton/index.ts
  frontend/src/components/common/Button/index.ts
  frontend/src/components/common/Header/Header.test.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/exterior/ExteriorSelector.tsx
  frontend/src/components/interior/InteriorSelector.tsx
  frontend/src/components/model/BottomHMGData/BottomHMGData.test.tsx
  frontend/src/components/model/BottomHMGData/BottomHMGData.tsx
  frontend/src/components/model/BottomHMGData/index.ts
  frontend/src/components/model/index.ts
  frontend/src/components/trim/TrimCard.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/usePagination/index.ts
  frontend/src/hooks/usePagination/usePagination.test.ts
  frontend/src/hooks/usePagination/usePagination.ts
  frontend/src/mocks/data/index.ts
  frontend/src/mocks/data/technical-spec.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/TrimPage/TrimPage.test.tsx
  frontend/yarn.lock
Labels: :test_tube: test, :strawberry: frontend

#230 feature/iOS/유사 견적 페이지 뷰 구현하기 & MVI 구조
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Assets.xcassets.zip
  iOS/Catalog/Catalog/Assets.xcassets/pop-up/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/pop-up/similar_quide_popup.imageset/Contents.json
  iOS/Catalog/Catalog/Assets.xcassets/pop-up/similar_quide_popup.imageset/Rectangle 830264.svg
  iOS/Catalog/Catalog/CLBudgetSetting/Intent/CLBudgetRangeIntent.swift
  iOS/Catalog/Catalog/CLBudgetSetting/Model/CLBudgetRangeModel.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLBudgetRangeView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLSimilarQuotationSlideView.swift
  iOS/Catalog/Catalog/CLBudgetSetting/View/CLSliderView.swift
  iOS/Catalog/Catalog/CLNavigation/Intent/CLNavigationIntent.swift
  iOS/Catalog/Catalog/CLNavigation/Model/CLNavigationModel.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Colors/Colors.xcassets/ImageCheckCapsule.colorset/Contents.json
  iOS/Catalog/Catalog/Component/Button/CLButton.swift
  iOS/Catalog/Catalog/Component/Button/CLInactableButton.swift
  iOS/Catalog/Catalog/Component/Button/CLSimilarQuotationButton.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionComponent.swift
  iOS/Catalog/Catalog/Component/ModalPopUpComponent/CarouselModalPopUpComponent.swift
  iOS/Catalog/Catalog/Component/Text/LeadingTitle.swift
  iOS/Catalog/Catalog/Component/pop-up/CLPopUp.swift
  iOS/Catalog/Catalog/Component/pop-up/EntryGuide.swift
  iOS/Catalog/Catalog/EntryPointView.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/ExternalColorSelection/ExternalSelectionIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelection/Model/ModelTypeModels.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/Model/BodyTypeModel.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/Model/DriveTrainModel.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/Model/PowerTrainModel.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/ModelTypeSelection/ModelTypeSelectionIntent.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Entity/ExtraOptionModel.swift
  iOS/Catalog/Catalog/Quotation/CarQuotation.swift
  iOS/Catalog/Catalog/Quotation/View/BottomArea.swift
  iOS/Catalog/Catalog/Quotation/View/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/QuotationComplete/View/DetailQuotationTitle.swift
  iOS/Catalog/Catalog/QuotationComplete/View/MockDetailQuotationTitle.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationCompleteSheet.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationCompleteView.swift
  iOS/Catalog/Catalog/SimilarQuotation/Intent/SimilarQuotationIntent.swift
  iOS/Catalog/Catalog/SimilarQuotation/Model/SimilarQuotation.swift
  iOS/Catalog/Catalog/SimilarQuotation/Model/SimilarQuotationModel.swift
  iOS/Catalog/Catalog/SimilarQuotation/Model/SimilarQuotationOption.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarHMGDataCard.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarHMGOption.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarQuotationCard.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarQuotationHelpView.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarQuotationTopBar.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarQuotationView.swift
  iOS/Catalog/Catalog/TrimSelection/Intent/TrimSelectionIntent.swift
  iOS/Catalog/Catalog/TrimSelection/View/HMGDataCard.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimCardView.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimSelectionView.swift
Labels: :star2: feature, :green_apple: iOS

#234 fix: 유사 출고 견적 API 응답에 출고량 필드 추가
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/SimilarQuotationDto.java
Labels: :bug: bug, :leaves: backend

#224 bug: 옵션 페이지 수정
  frontend/src/components/option/OptionBanner.tsx
  frontend/src/components/option/constants/index.ts
  frontend/src/components/option/hooks/useFilter.ts
  frontend/src/components/option/mock/mock.ts
  frontend/src/components/option/utils/OverFlowText.tsx
  frontend/src/components/option/utils/SearchBar.tsx
  frontend/src/components/option/utils/index.ts
  frontend/src/pages/OptionPage.tsx
Labels: :bug: bug, :strawberry: frontend

#237 refactor: pages 폴더 디렉토리 수정
  frontend/src/pages/ExteriorPage/ExteriorPage.tsx
  frontend/src/pages/ExteriorPage/index.ts
  frontend/src/pages/InteriorPage/InteriorPage.tsx
  frontend/src/pages/InteriorPage/index.ts
  frontend/src/pages/ModelPage/ModelPage.tsx
  frontend/src/pages/ModelPage/index.ts
  frontend/src/pages/OptionPage/OptionPage.tsx
  frontend/src/pages/OptionPage/index.ts
  frontend/src/pages/Pages.tsx
  frontend/src/pages/ResultPage/ResultPage.tsx
  frontend/src/pages/ResultPage/index.ts
Labels: :toolbox: refactor, :strawberry: frontend

#236 Feature/#219/exeption handling optional
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/BodytypeEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/CarBodytypeEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/Entity/CarPowertrainEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarPowertrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/application/OptionService.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/mapper/OptionMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/application/PackageService.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/mapper/PackageMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/domain/trim/application/TrimService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapper.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/global/util/.gitkeep
  backend/src/main/java/com/h2o/h2oServer/global/util/Validator.java
  backend/src/main/resources/static/mapper/trim/TrimMapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/car/mapper/CarMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/BodytypeFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/PowertrainFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/BodytypeMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/DrivetrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/PowertrainMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/application/OptionServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/mapper/OptionMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/application/PackageServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/mapper/PackageMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/application/TrimServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/mapper/TrimMapperTest.java
Labels: :toolbox: refactor, :leaves: backend

#239 cd: frontend cd 설정
  .github/workflows/frontend-cd.yml
  frontend/src/env.d.ts
  frontend/src/utils/fetch.ts
  frontend/vite.config.ts
Labels: :package: ci/cd, :strawberry: frontend

#245 cd: frontend deploy
  .github/workflows/frontend-cd.yml
Labels: :package: ci/cd, :strawberry: frontend

#228 Feature/#221/컨트롤러 단위 테스트 코드 구현
  .github/workflows/java-gradle-ci.yml
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeController.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/api/OptionController.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/exceptionHandler/ControllerAdvice.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/BodytypeFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/DrivetrainFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/PowertrainFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/OptionFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/api/OptionControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/api/PackageControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/options/api/OptionsControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/api/QuotationControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/ExternalColorFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/InternalColorFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/TrimFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/api/TrimControllerTest.java
Labels: :star2: feature, :leaves: backend

#246 cd: front deploy vite env 설정 추가
  .github/workflows/frontend-cd.yml
Labels: :package: ci/cd, :strawberry: frontend

#238 Feature/#235/견적 출고량 api 구현
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/api/QuotationController.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationCountDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapper.java
  backend/src/main/java/com/h2o/h2oServer/global/util/ListStringParser.java
  backend/src/main/java/com/h2o/h2oServer/global/util/StringParser.java
  backend/src/main/resources/static/mapper/quotation/quotation_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/global/util/ListStringParserTest.java
  backend/src/test/resources/db/quotation/release-data.sql
Labels: :star2: feature, :leaves: backend

#247 Feature/#141/handle cors
  backend/src/main/java/com/h2o/h2oServer/global/config/AppConfig.java
  backend/src/test/java/com/h2o/h2oServer/CorsTest.java
Labels: :star2: feature, :leaves: backend

#252 Fix/#141/handle cors
  backend/src/main/java/com/h2o/h2oServer/global/config/AppConfig.java
Labels: :bug: bug, :leaves: backend

#248 feature: 추가옵션 / 추가 옵션 API / 추가옵션 Filtering / 추가옵션 Modal / 추가 옵션 Text 더보기 기능
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuTitleView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationMenuView.swift
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/ExpandableText/ExpandableText.swift
  iOS/Catalog/Catalog/Component/ExpandableText/ExpandableTextHelperFunction.swift
  iOS/Catalog/Catalog/Component/ModalPopUpComponent/CarouselModalPopUpComponent.swift
  iOS/Catalog/Catalog/Component/ModalPopUpComponent/ModalPopUpComponent.swift
  iOS/Catalog/Catalog/Component/ModalPopUpComponent/TransparentZStack.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/ModelTypeSelection/ModelTypeSelectionIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/View/ModelTypeModalFeature/ModelTypeDetailState.swift
  iOS/Catalog/Catalog/NetworkCore/API.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Components/OptionImageView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Components/OptionModalImageView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/NetworkRequest/OptionSelectionRequest.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/Repository/OptionSelectRepositoryProtocol.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/Repository/OptionSelectionRepository.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/ResponseDTO/DetailOptionResponseDTO.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/ResponseDTO/ExtraOptionResponseDTO.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/ResponseDTO/PackageInfoDTO.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Entity/DetailOptionInfo.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Entity/OptionCategory.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Entity/PackageComponent.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Entity/PackageInfo.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionCardFeature/OptionCardModel.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionCardFeature/OptionCardView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionCardFeature/OptionCardViewIntent.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionCardScrollFeature/OptionCardScollView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionCardScrollFeature/OptionCardScrollIntent.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionModalContentFeature/OptionModalContentView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionModalContentFeature/OptionModalHMGDataView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionModalContentFeature/OptionModalTabContentView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionSelection/OptionSelectionIntent.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionSelection/OptionSelectionView.swift
Labels: :star2: feature, :green_apple: iOS

#253 fix: CORS 전체 허용으로 임시 수정
  backend/src/main/java/com/h2o/h2oServer/global/config/AppConfig.java
  backend/src/test/java/com/h2o/h2oServer/CorsTest.java
Labels: :leaves: backend

#254 Feature/#141/CORS 설정
  backend/src/main/java/com/h2o/h2oServer/global/config/AppConfig.java
Labels: :leaves: backend

#257 fix: 유사 견적 API 버그 수정
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
Labels: :bug: bug, :leaves: backend

#256 test: 공통 컴포넌트 테스트코드 작성
  frontend/package.json
  frontend/src/components/common/Banner/Banner.test.tsx
  frontend/src/components/common/Banner/Banner.tsx
  frontend/src/components/common/Banner/__snapshots__/Banner.test.tsx.snap
  frontend/src/components/common/Button/CTAButton/__snapshots__/CTAButton.test.tsx.snap
  frontend/src/components/common/Button/CTACTypeButton/__snapshots__/CTACTypeButton.test.tsx.snap
  frontend/src/components/common/Button/CategoryButton/__snapshots__/CategoryButton.test.tsx.snap
  frontend/src/components/common/Button/ImageButton/__snapshots__/ImageButton.test.tsx.snap
  frontend/src/components/common/Button/PriceSummaryButton/__snapshots__/PriceSummaryButton.test.tsx.snap
  frontend/src/components/common/Card/Card.test.tsx
  frontend/src/components/common/Card/__snapshots__/Card.test.tsx.snap
  frontend/src/components/common/Dimmed/Dimmed.test.tsx
  frontend/src/components/common/Dimmed/__snapshots__/Dimmed.test.tsx.snap
  frontend/src/components/common/Divider/Divider.test.tsx
  frontend/src/components/common/Divider/__snapshots__/Divider.test.tsx.snap
  frontend/src/components/common/Footer/Footer.test.tsx
  frontend/src/components/common/Footer/Footer.tsx
  frontend/src/components/common/Footer/__snapshots__/Footer.test.tsx.snap
  frontend/src/components/common/HMGTag/HMGTag.test.tsx
  frontend/src/components/common/HMGTag/__snapshots__/HMGTag.test.tsx.snap
  frontend/src/components/common/HashTag/HashTag.test.tsx
  frontend/src/components/common/HashTag/__snapshots__/HashTag.test.tsx.snap
  frontend/src/components/common/Header/Header.test.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Header/NavBar/NavBar.test.tsx
  frontend/src/components/common/Header/NavBar/NavBar.tsx
  frontend/src/components/common/Header/NavBar/Tab.tsx
  frontend/src/components/common/Header/NavBar/index.ts
  frontend/src/components/common/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/components/common/Icon/Icon.test.tsx
  frontend/src/components/common/Icon/__snapshots__/Icon.test.tsx.snap
  frontend/src/components/common/Loading/Loading.test.tsx
  frontend/src/components/common/Loading/__snapshots__/Loading.test.tsx.snap
  frontend/src/components/common/MainSelector/MainSelector.test.tsx
  frontend/src/components/common/MainSelector/MainSelector.tsx
  frontend/src/components/common/MainSelector/__snapshots__/MainSelector.test.tsx.snap
  frontend/src/env.d.ts
  frontend/src/tests/Sample.test.tsx
  frontend/src/tests/setup.ts
  frontend/src/utils/fetch.ts
  frontend/yarn.lock
Labels: :test_tube: test, :strawberry: frontend

#263 feature: front proxy 제거
  frontend/src/env.d.ts
  frontend/src/mocks/handlers.ts
  frontend/src/utils/fetch.ts
  frontend/vite.config.ts
Labels: :star2: feature, :strawberry: frontend

#268 Feature/#240/Redis 설정
  .github/workflows/backend-cd.yml
  backend/Dockerfile
  backend/build.gradle
  backend/deployScripts/release-backend.sh
  backend/src/main/java/com/h2o/h2oServer/H2oServerApplication.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/api/QuotationController.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/CosineSimilarityCalculator.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/TrimDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/TrimStatisticsDto.java
  backend/src/main/java/com/h2o/h2oServer/global/config/RedisConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/CosineSimilarityCalculatorTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/api/TrimControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/global/config/RedisConfig.java
  backend/src/test/resources/application.yml
Labels: :leaves: backend, :globe_with_meridians: infrastructure

#270 feature: 유사 견적 API 연동
  frontend/src/apis/quotation.ts
  frontend/src/components/option/ExtraOptionSelector.tsx
  frontend/src/components/option/utils/OptionCard.tsx
  frontend/src/components/result/BarGraph.tsx
  frontend/src/components/result/DetailEstimate.tsx
  frontend/src/components/result/EstimateAccordian.tsx
  frontend/src/components/result/ResultFooter.tsx
  frontend/src/components/result/utils/SalesBar.tsx
  frontend/src/components/result/utils/index.ts
  frontend/src/components/similarEstimation/EstimationCard.tsx
  frontend/src/components/similarEstimation/Popup/ConfirmOptionPopup.tsx
  frontend/src/components/similarEstimation/SimilarEstimationPopup.tsx
  frontend/src/components/similarEstimation/SimilarEstimationPriceBar.tsx
  frontend/src/components/similarEstimation/mock/mock.ts
  frontend/src/components/similarEstimation/utils/OptionCard.tsx
  frontend/src/pages/ResultPage/ResultPage.tsx
  frontend/src/providers/SelectionProvider.tsx
  frontend/src/types/interface.ts
  frontend/src/utils/fetch.ts
Labels: :star2: feature, :strawberry: frontend

#273 Fix/#272/견적 저장 API 버그 수정
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
Labels: :bug: bug, :leaves: backend

#278 fix: 백엔드 cd 워크플로우 오타 수정
  .github/workflows/backend-cd.yml
Labels: :bug: bug, :package: ci/cd

#280 fix: dockerfile argument 누락 수정
  backend/Dockerfile
Labels: :bug: bug, :package: ci/cd, :leaves: backend

#277 test: util 함수 테스트 코드 작성
  frontend/.eslintignore
  frontend/.gitignore
  frontend/.prettierignore
  frontend/package.json
  frontend/src/components/carousel/PageCarousel.test.tsx
  frontend/src/components/carousel/PageCarousel.tsx
  frontend/src/components/carousel/__snapshots__/PageCarousel.test.tsx.snap
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.test.tsx
  frontend/src/components/common/Flex/Flex.test.tsx
  frontend/src/components/common/Flex/__snapshots__/Flex.test.tsx.snap
  frontend/src/mocks/handlers.ts
  frontend/src/tests/setup.ts
  frontend/src/utils/fetch/index.test.ts
  frontend/src/utils/fetch/index.ts
  frontend/src/utils/image/index.ts
  frontend/src/utils/localStorage/index.test.ts
  frontend/src/utils/localStorage/index.ts
  frontend/src/utils/number/index.test.ts
  frontend/src/utils/number/index.ts
  frontend/src/utils/sessionStorage.ts
  frontend/src/utils/string/index.test.ts
  frontend/src/utils/string/index.ts
  frontend/src/utils/tests/toPriceFormatString.test.ts
  frontend/src/utils/tests/toSeparateNumberFormat.test.ts
  frontend/vitest.config.ts
  frontend/yarn.lock
Labels: :test_tube: test, :strawberry: frontend

#281 Feature/#250/optimal image
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDetailsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionSummaryDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/OptionDetailsEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/OptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimDefaultOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimExtraOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/TrimDefaultOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/entity/TrimExtraOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapper.java
  backend/src/main/resources/static/mapper/option/OptionMapper.xml
  backend/src/main/resources/static/mapper/options/options_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/CorsTest.java
  backend/src/test/resources/db/schema-ddl.sql
Labels: :star2: feature, :leaves: backend

#215 bug: 예산 범위 설정 컴포넌트 수정
  frontend/src/App.tsx
  frontend/src/components/common/PriceStaticBar/Marker.tsx
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.tsx
  frontend/src/components/common/PriceStaticBar/Slider.tsx
  frontend/src/components/option/OptionBanner.tsx
  frontend/src/components/result/ResultBanner.tsx
  frontend/src/components/similarEstimation/SimilarEstimationPriceBar.tsx
  frontend/src/components/trim/TrimCard.tsx
  frontend/src/pages/ExteriorPage/ExteriorPage.tsx
  frontend/src/pages/ModelPage/ModelPage.tsx
  frontend/src/providers/SlideProvider.tsx
Labels: :bug: bug, :strawberry: frontend

#282 test: 공통 컴포넌트 테스트 코드 작성 1편
  frontend/src/components/common/Circle/Circle.test.tsx
  frontend/src/components/common/Circle/Circle.tsx
  frontend/src/components/common/Circle/__snapshots__/Circle.test.tsx.snap
  frontend/src/components/common/Circle/index.ts
  frontend/src/components/common/Toggle/Toggle.test.tsx
  frontend/src/components/common/Toggle/Toggle.tsx
  frontend/src/components/common/Toggle/__snapshots__/Toggle.test.tsx.snap
  frontend/src/components/common/Typography/Typography.test.tsx
  frontend/src/components/common/Typography/__snapshots__/Typography.test.tsx.snap
  frontend/src/components/common/index.ts
Labels: :test_tube: test, :strawberry: frontend

#284 feat: HTTPS 설정을 위한 포트번호 변경
  backend/src/main/resources/application.yml
Labels: :leaves: backend, :globe_with_meridians: infrastructure

#285 Feature/#283/포트 80으로 변경
  backend/src/main/java/com/h2o/h2oServer/global/config/AppConfig.java
  backend/src/main/resources/application.yml
Labels: :leaves: backend

#286 fix : 포트번호 8080으로 변경
  backend/src/main/resources/application.yml
Labels: :leaves: backend

#287 feat: OpenAPIDefinition 어노테이션 추가
  backend/src/main/java/com/h2o/h2oServer/global/config/SwaggerConfig.java
Labels: :leaves: backend

#288 test: provider 테스트 코드 작성
  frontend/src/providers/SelectionProvider/SelectionProvider.test.tsx
  frontend/src/providers/SelectionProvider/SelectionProvider.tsx
  frontend/src/providers/SelectionProvider/hooks/useSelectionReducer.ts
  frontend/src/providers/SelectionProvider/index.ts
  frontend/src/providers/SelectionProvider/types.ts
  frontend/src/providers/SlideProvider/SlideProvider.test.tsx
  frontend/src/providers/SlideProvider/SlideProvider.tsx
  frontend/src/providers/SlideProvider/index.ts
  frontend/src/providers/StyleProvider/StyleProvider.test.tsx
  frontend/src/providers/StyleProvider/StyleProvider.tsx
  frontend/src/providers/StyleProvider/index.ts
  frontend/src/providers/index.ts
Labels: :strawberry: frontend

#291 fix: 프론트엔드 배포 workflow 수정
  .github/workflows/frontend-cd.yml
Labels: :bug: bug, :package: ci/cd, :strawberry: frontend

#292 ci: PR시 test code 실행 workflow 설정
  .github/workflows/front-test.yml
Labels: :package: ci/cd, :strawberry: frontend

#296 fix: front deploy
  .github/workflows/frontend-cd.yml
Labels: :bug: bug, :package: ci/cd, :strawberry: frontend

#269 feature: URLCache && Network Error 세분화
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/Component/ExpandableText/ExpandableText.swift
  iOS/Catalog/Catalog/Component/ModalPopUpComponent/CarouselModalPopUpComponent.swift
  iOS/Catalog/Catalog/NetworkCore/APIManagerProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/CachedResponseHandler.swift
  iOS/Catalog/Catalog/NetworkCore/Mock/CLNetworkError.swift
  iOS/Catalog/Catalog/NetworkCore/Request/RequestProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/Retrier/CLAPIRetrier.swift
  iOS/Catalog/Catalog/NetworkCore/URLCache/CachedResponseHandler.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimAPIManager.swift
Labels: :star2: feature, :green_apple: iOS

#302 test: 공통 컴포넌트 테스트 코드 작성 2편
  frontend/src/components/common/Header/CloseMyCarPopup.tsx
  frontend/src/components/common/Header/Header.test.tsx
  frontend/src/components/common/Popup/ConfirmPopup/ConfirmPopup.test.tsx
  frontend/src/components/common/Popup/ConfirmPopup/ConfirmPopup.tsx
  frontend/src/components/common/Popup/ConfirmPopup/__snapshots__/ConfirmPopup.test.tsx.snap
  frontend/src/components/common/Popup/ConfirmPopup/index.ts
  frontend/src/components/common/Popup/Popup.test.tsx
  frontend/src/components/common/Popup/Popup.tsx
  frontend/src/components/common/Popup/SummaryPopup/SummaryPopup.tsx
  frontend/src/components/common/Popup/SummaryPopup/index.ts
  frontend/src/components/common/Popup/__snapshots__/Popup.test.tsx.snap
  frontend/src/components/common/Popup/index.ts
  frontend/src/components/common/Portal/Portal.test.tsx
  frontend/src/components/common/Portal/__snapshots__/Portal.test.tsx.snap
  frontend/src/components/common/PriceStaticBar/Marker/Marker.test.tsx
  frontend/src/components/common/PriceStaticBar/Marker/Marker.tsx
  frontend/src/components/common/PriceStaticBar/Marker/__snapshots__/Marker.test.tsx.snap
  frontend/src/components/common/PriceStaticBar/Marker/index.ts
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.tsx
  frontend/src/components/common/PriceStaticBar/Slider/Slider.test.tsx
  frontend/src/components/common/PriceStaticBar/Slider/Slider.tsx
  frontend/src/components/common/PriceStaticBar/Slider/constants.ts
  frontend/src/components/common/PriceStaticBar/Slider/index.ts
  frontend/src/components/common/PriceStaticBar/index.ts
  frontend/src/components/similarEstimation/Popup/ConfirmClosePopup.tsx
Labels: :test_tube: test, :strawberry: frontend

#301 Feature/#240/유사견적 기능, API 성능 개선
  backend/build.gradle
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeController.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarBodytypeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarDrivetrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/CarPowertrainDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/ModelTypeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/PowertrainOutputDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/PowertrainTorqueDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/api/OptionController.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDetailsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/OptionStatisticsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/HashTagEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/OptionDetailsEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/OptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/api/PackageController.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/dto/PackageDetailsDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/optionPackage/entity/PackageEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/api/OptionsController.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimDefaultOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/dto/TrimExtraOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/dto/QuotationDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/entity/OptionQuotationEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/entity/PackageQuotationEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/entity/ReleaseEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/api/TrimController.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/DefaultTrimCompositionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/ExternalColorDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/InternalColorDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/PriceDistributionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/dto/PriceRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/ExternalColorEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/ImageEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/InternalColorEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/OptionStatisticsEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/trim/entity/TrimEntity.java
  backend/src/main/java/com/h2o/h2oServer/global/config/ETagHeaderFilter.java
  backend/src/main/java/com/h2o/h2oServer/global/config/RedisConfig.java
  backend/src/main/java/com/h2o/h2oServer/global/exception/exceptionHandler/ControllerAdvice.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/grafana/similarQuotationApiLoadTest.js
  backend/src/main/resources/grafana/similarQuotationLocalApiLoadTest.js
  backend/src/main/resources/grafana/trimLocalApiLoadTest.js
  backend/src/main/resources/static/mapper/option/OptionMapper.xml
  backend/src/main/resources/static/mapper/optionPackage/packageMapper.xml
  backend/src/main/resources/static/mapper/quotation/quotation_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/api/ModelTypeControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/api/OptionControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/optionPackage/api/PackageControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/options/api/OptionsControllerTest.java
Labels: :star2: feature, :leaves: backend

#304 feature: image Cache & AsyncCachedImage
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CatalogApp.swift
  iOS/Catalog/Catalog/Component/AsyncCachedImage/AsyncCachedImage.swift
  iOS/Catalog/Catalog/Component/ColorSelectionComponent/ColorSelectionComponent.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/Data/Repository/ExteriorColorRepository.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/Data/Request/ExteriorColorRequest.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/ExternalColorSelection/ExternalSelectionView.swift
  iOS/Catalog/Catalog/ImageCache/CacheConstants.swift
  iOS/Catalog/Catalog/ImageCache/CacheError.swift
  iOS/Catalog/Catalog/ImageCache/CacheImage.swift
  iOS/Catalog/Catalog/ImageCache/DiskCache.swift
  iOS/Catalog/Catalog/ImageCache/ImageCacheService.swift
  iOS/Catalog/Catalog/ImageCache/ImageMemoryCache.swift
  iOS/Catalog/Catalog/InteriorColorSelectionDomain/Component/InteriorColorDisplayView.swift
  iOS/Catalog/Catalog/InteriorColorSelectionDomain/Data/Repository/InteriorColorSelectionRepository.swift
  iOS/Catalog/Catalog/InteriorColorSelectionDomain/Data/Request/InteriorColorRequest.swift
  iOS/Catalog/Catalog/InteriorColorSelectionDomain/InteriorColorSelection/InteriorColorSelectionView.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/Data/DTO/ModelTypeResponseDTO.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/Data/Request/ModelTypeRequest.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/ModelTypeCellFeature/ModelTypeCellIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/ModelTypeCellFeature/ModelTypeCellView.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/ModelTypeSelection/ModelTypeSelectionIntent.swift
  iOS/Catalog/Catalog/ModelTypeSelectionDomain/View/ModelTypeModalFeature/ModelTypeModalContentView.swift
  iOS/Catalog/Catalog/NetworkCore/APIManagerProtocol.swift
  iOS/Catalog/Catalog/NetworkCore/Request/RequestProtocol.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Components/OptionImageView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Components/OptionModalImageView.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/NetworkRequest/OptionSelectionRequest.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/Repository/OptionSelectionRepository.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/Data/ResponseDTO/PackageInfoDTO.swift
  iOS/Catalog/Catalog/OptionSelectionDomain/OptionCardFeature/OptionCardView.swift
  iOS/Catalog/Catalog/Quotation/Data/Request/QuotationRequest.swift
  iOS/Catalog/Catalog/Quotation/View/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/QuotationComplete/Data/Request/QuotationCompleteRequest.swift
  iOS/Catalog/Catalog/QuotationComplete/View/DetailQuotationItem.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationExteriorView.swift
  iOS/Catalog/Catalog/QuotationComplete/View/QuotationInteriorView.swift
  iOS/Catalog/Catalog/SimilarQuotation/Data/NetworkRequest/SimilarQuotationRequest.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarQuotationCard/SimilarHMGOption.swift
  iOS/Catalog/Catalog/SimilarQuotation/View/SimilarQuotationCard/SimilarQuotationCardImage.swift
  iOS/Catalog/Catalog/TrimSelection/Data/TrimSelectionRequest.swift
  iOS/Catalog/Catalog/TrimSelection/View/TrimCardView.swift
  iOS/Catalog/Catalog/Utils/FileManager+.swift
  iOS/Catalog/Catalog/Utils/Image+.swift
  iOS/Catalog/Catalog/Utils/Log.swift
  iOS/Catalog/Catalog/Utils/NSItemProvider.swift
Labels: :star2: feature, :green_apple: iOS

#307 test: 공통 hooks 테스트 코드 작성
  frontend/src/hooks/index.ts
  frontend/src/hooks/useFetcher/index.ts
  frontend/src/hooks/useFetcher/useFetcher.test.tsx
  frontend/src/hooks/useFetcher/useFetcher.ts
  frontend/src/hooks/useMounted/index.ts
  frontend/src/hooks/useMounted/useMounted.test.ts
  frontend/src/hooks/useMounted/useMounted.ts
  frontend/src/hooks/useSafeContext/index.ts
  frontend/src/hooks/useSafeContext/useSafeContext.test.tsx
  frontend/src/hooks/useSafeContext/useSafeContext.ts
Labels: :test_tube: test, :strawberry: frontend

#309 test: 공통 컴포넌트 테스트 코드 작성 3편
  frontend/src/components/common/Header/__snapshots__/Header.test.tsx.snap
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Popup/SummaryPopup/SummaryPopup.test.tsx
  frontend/src/components/common/Popup/SummaryPopup/SummaryPopup.tsx
  frontend/src/components/common/Popup/SummaryPopup/__snapshots__/SummaryPopup.test.tsx.snap
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.test.tsx
  frontend/src/components/common/PriceStaticBar/PriceStaticBar.tsx
  frontend/src/mocks/data/index.ts
  frontend/src/mocks/data/priceRange.ts
  frontend/src/mocks/data/selectionInfo.ts
  frontend/src/mocks/handlers.ts
Labels: :test_tube: test, :strawberry: frontend

#311 bug: 외장 색상 이미지 수정
  frontend/src/components/exterior/ExteriorCarImg.tsx
Labels: :bug: bug, :strawberry: frontend

#313 Fix/#303/유사 견적 API 버그 수정
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/application/QuotationService.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/HashTagFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/QuotationFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/trim/ImageFixture.java
Labels: :bug: bug, :leaves: backend

#315 Fix/#314/차량 모델타입 성능 API 버그 수정
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/dto/TechnicalSpecDto.java
Labels: :bug: bug, :leaves: backend

#316 feature: imageFetcher by stream
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/CLNavigation/View/CLNavigationView.swift
  iOS/Catalog/Catalog/Component/AsyncCachedImage/AsyncCachedImage.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/Component/ExteriorColorDisplayView.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/Component/ExteriorColorSelectionHorizontalList.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/Data/Repository/MockExternalColorRepository.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/ExternalColorSelection/ExteriorSelectionIntent.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/ExternalColorSelection/ExteriorSelectionModel.swift
  iOS/Catalog/Catalog/ExternalColorSelectionDomain/ExternalColorSelection/ExteriorSelectionView.swift
  iOS/Catalog/Catalog/ImageCache/ImageCacheService.swift
Labels: :star2: feature, :green_apple: iOS

#321 feature: 360도 구현하기
  iOS/Catalog/Catalog/ExteriorColorSelectionDomain/ExternalColorSelection/ExteriorImageView.swift
  iOS/Catalog/Catalog/ExteriorColorSelectionDomain/ExternalColorSelection/ExteriorSelectionIntent.swift
Labels: :star2: feature, :green_apple: iOS

#319 fix: 옵션 페이지 수정
  frontend/src/components/option/constants/index.ts
  frontend/src/components/option/hooks/useFilter.ts
  frontend/src/components/option/utils/SearchBar.tsx
  frontend/src/pages/OptionPage/OptionPage.tsx
Labels: :strawberry: frontend

#326 refactor: 이미지 및 번들사이즈 최적화
  frontend/package.json
  frontend/src/assets/lotties/error.json
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/common/ErrorBoundary/ErrorFallback.tsx
  frontend/src/components/option/DefaultOptionSelector.tsx
  frontend/src/components/option/ExtraOptionSelector.tsx
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: :toolbox: refactor, :strawberry: frontend

#328 cd: front test
  .github/workflows/front-test.yml
Labels: :package: ci/cd, :strawberry: frontend

#329 fix: 조인 시 누락된 drivetrain_id 비교 조건 추가
  backend/src/main/resources/static/mapper/quotation/quotation_mapper.xml
Labels: :leaves: backend

#330 Feature/#327/option 관련 패키지 구조 리팩토링
  backend/src/main/java/com/h2o/h2oServer/domain/car/exception/NoSuchCarException.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/api/OptionController.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/application/OptionService.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/DefaultOptionSizeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/ExtraOptionSizeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/HashTagDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/PageRangeDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/TrimDefaultOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/dto/TrimExtraOptionDto.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/TrimDefaultOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/TrimExtraOptionEntity.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/entity/enums/OptionType.java
  backend/src/main/java/com/h2o/h2oServer/domain/option/mapper/OptionMapper.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/api/OptionsController.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/application/OptionsService.java
  backend/src/main/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapper.java
  backend/src/main/resources/static/mapper/option/OptionMapper.xml
  backend/src/main/resources/static/mapper/optionPackage/packageMapper.xml
  backend/src/main/resources/static/mapper/options/options_mapper.xml
  backend/src/test/java/com/h2o/h2oServer/domain/option/api/OptionControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/application/OptionServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/mapper/OptionMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/options/api/OptionsControllerTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/options/dto/HashTagDtoTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/options/mapper/OptionsMapperTest.java
Labels: :toolbox: refactor, :leaves: backend

#337 fix: 옵션 페이지 카테고리 버튼
  frontend/src/components/option/hooks/useFilter.ts
Labels: :strawberry: frontend

#340 docs: readme 작성
  README.md
Labels: :blue_book: documentation

#333 Feature/#331/service test
  backend/src/main/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeService.java
  backend/src/main/java/com/h2o/h2oServer/domain/quotation/mapper/QuotationMapper.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/BodytypeFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/DrivetrainFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/TechnicalSpecFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/application/ModelTypeServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/model_type/mapper/TechnicalSpecMapperTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/OptionFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/option/application/OptionServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/QuotationFixture.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTest.java
  backend/src/test/java/com/h2o/h2oServer/domain/quotation/application/QuotationServiceTransactionTest.java
  backend/src/test/resources/db/quotation/quotation-tx-data.sql
  backend/src/test/resources/db/quotation/tx_data.sql
Labels: :test_tube: test, :leaves: backend

#341 bug: fix for 유사견적, 견적요약
  iOS/Catalog/Catalog.xcodeproj/project.pbxproj
  iOS/Catalog/Catalog/AppDomain/ExteriorColorSelectionDomain/ExternalColorSelection/ExteriorSelectionIntent.swift
  iOS/Catalog/Catalog/AppDomain/ExteriorColorSelectionDomain/ExternalColorSelection/ExteriorSelectionView.swift
  iOS/Catalog/Catalog/AppDomain/InteriorColorSelectionDomain/InteriorColorSelection/InteriorColorSelectionIntent.swift
  iOS/Catalog/Catalog/AppDomain/ModelTypeSelectionDomain/ModelTypeCellFeature/ModelTypeCellView.swift
  iOS/Catalog/Catalog/AppDomain/OptionSelectionDomain/Components/OptionImageView.swift
  iOS/Catalog/Catalog/AppDomain/OptionSelectionDomain/OptionCardFeature/OptionCardView.swift
  iOS/Catalog/Catalog/AppDomain/OptionSelectionDomain/OptionModalContentFeature/OptionModalTabContentView.swift
  iOS/Catalog/Catalog/AppDomain/QuotationCompleteDomain/View/DetailQuotationItem.swift
  iOS/Catalog/Catalog/AppDomain/SimilarQuotationDomain/SimilarQuotation/SimilarQuotationIntent.swift
  iOS/Catalog/Catalog/AppDomain/SimilarQuotationDomain/SimilarQuotation/SimilarQuotationModel.swift
  iOS/Catalog/Catalog/AppDomain/TrimSelectionDomain/View/TrimCardView.swift
  iOS/Catalog/Catalog/AppMain/AppMainRoute/AppMainRouteIntent.swift
  iOS/Catalog/Catalog/AppMain/AppMainRoute/AppMainRouteView.swift
  iOS/Catalog/Catalog/AppMain/QuotationFooterFeature/QuotationFooter/QuotationFooterView.swift
  iOS/Catalog/Catalog/AppMain/QuotationFooterFeature/View/CLQuotationSummarySheet.swift
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/100.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/102.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/1024.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/114.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/120.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/128.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/144.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/152.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/16.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/167.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/172.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/180.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/196.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/20.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/216.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/256.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/29.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/32.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/40.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/48.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/50.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/512.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/55.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/57.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/58.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/60.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/64.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/66.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/72.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/76.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/80.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/87.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/88.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/92.png
  iOS/Catalog/Catalog/Utils/AppIcons/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Catalog/Catalog/Utils/AppIcons/appstore.png
  iOS/Catalog/Catalog/Utils/AppIcons/playstore.png
Labels: :bug: bug, :green_apple: iOS

#344 test: InteriorCard 테스트코드 작성
  frontend/src/components/interior/InteriorCard/InteriorCard.test.tsx
  frontend/src/components/interior/InteriorCard/InteriorCard.tsx
  frontend/src/components/interior/InteriorCard/__snapshots__/InteriorCard.test.tsx.snap
  frontend/src/components/interior/InteriorCard/index.ts
  frontend/src/components/interior/InteriorSelector.tsx
  frontend/src/components/interior/index.ts
  frontend/src/mocks/data/index.ts
  frontend/src/mocks/data/interiors.ts
Labels: :test_tube: test, :strawberry: frontend
